{{#partial "content"}}
    <div class="container">
        {{#if matches}}
            {{#each matches}}
                <div class="container">
                    <h3>{{name}}</h3>
                    <h3>{{nightlife}}</h3>
                    <input type="submit" class="btn btn-warning" value="Start booking a trip" onclick="window.location='/{{id}}/planning';" />
                    <!--<p class="latitude hideIt">{{latitude}}</p>-->
                    <!--<p class ="longitude hideIt">{{longitude}}</p>-->
                    <div id ="map-canvas-{{id}}" style="width:304px;height:228px;" >
                    </div>
                    <script>
                                function initialize(latitude, longitude, homies) {

                                    alert(latitude);


                                    var myLatLng = new google.maps.LatLng(latitude,longitude);
                                    var map = new google.maps.Map(document.getElementById("map-canvas-" + homies),
                                    {
                                        zoom: 10,
                                        center: myLatLng,
                                        mapTypeId: google.maps.MapTypeId.ROADMAP
                                    });

                                    var marker = new google.maps.Marker(
                                    {
                                        position: myLatLng,
                                        map: map,
                                    });
                                };
                                initialize({{latitude}}, {{longitude}}, {{id}});



                                </script>

                    <div data-skyscanner-widget="SearchWidget" data-origin-geo-lookup="true"></div>
                    <script src="https://widgets.skyscanner.net/widget-server/js/loader.js" async></script>
                </div>
            {{/each}}
        {{else}}
          <p>ooooooops</p>

        {{/if}}

    </div>

{{/partial}}

{{> layout2.hbs}}